*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 120, 190, 1);
    
}

.label{
    cursor: pointer;
}

.item{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    
   
}

select{
    cursor: pointer;
}


.input ,select, .checkbox{
    outline: none;
    height: 40px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    padding: 0 30px;
    font-size: 18px;
    min-width: 260px;
}

.checkbox{
    max-width: 50px;
    position: relative;
    right: -140px;
}

.label{
    position: absolute;
    top: 0px;
    justify-self: flex-start;
    font-size: 20px;
    color: white;
    align-self: flex-start;
}

button{
    cursor: pointer;
    background-color: white;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    font-size: 18px;
    width: 120px;
    height: 40px;
}